.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F0F0F0;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.9);
}


.header-img {
  width: 80px;
  height: auto;
}

.header-img.left {
  left: 10px;
  transform: rotate(-10deg);
}

.header-img.right {
  right: 10px;
  transform: rotate(12deg);
}

.header-content {
  text-align: center;
}

.page-header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin-bottom: 4px;
  color: #151935;
}

.page-header p {
  font-size: 16px;
  color: #000000;
  mergin-botom: 12px;
}

body {
    background-color: #151935;
    font-family: 'Poppins', Segoe UI, Tahoma, Verdana, sans-serif
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: auto;
  align-items: flex-start;
}

.todo-wrapper {
    flex: 3;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #DCE2EA;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.9);
}

.todo-wrapper h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
    color: #151935;
    margin: 0;
}

.todo-wrapper h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #607A96;
    margin: 0;
}

.todo-wrapper .intro-text {
    font-size: medium;
    color: #282828;
}

.todo-wrapper .pretty-button {
    color: #282828;
    background-color: #FFFFFF;
}

.todo-wrapper .pretty-button:hover {
    opacity: 0,7 ;
    transform: scale(1.05);
    cursor: pointer;
}

.todo-wrapper ol {
  padding-left: 0;
  list-style-position: inside;
}

input, button, select {
    border-radius: 16px;
    border-width: 2px;
    border-color: #B3C3D4;
    appearance: none;
    outline: none;
    padding: 5px 10px;
    font-size: 12px;
}

.label {
  font-size: small;
}

.todo-input {
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 20px;
  background-color: #F4F4F4;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
}

#todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.exist-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #F4F4F4;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}

.todo-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

.hint-text {
    font-style: italic;
    font-size: small;
    text-align: center;
    color: #213658;
    margin-top: 4px;
    margin-bottom: 16px;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6px 12px;
  border-bottom: 1px solid #213658;
  gap: 12px;
  transition: all 0.3s ease;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  align-items: center;
}

.task-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.task-info {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.category {
  font-size: 0.9rem;
  background-color: #B3C3D4;
  border-radius: 4px;
  padding: 2px 6px;
}
.delete-btn {
  background: none;
  padding: 4px 6px;
  cursor: pointer;
}

.delete-btn i {
  color: #213658;
  font-size: 14px;
}

.delete-btn:hover i {
  transform: scale(1.2);
}

#control-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.backsong {
    flex:1;
    border-radius: 15px;
    margin-bottom: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #B3C3D4;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.9);
}

.backsong h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    margin-bottom: 25px;
    color: #151935;
}
.backsong audio {
    margin-bottom: 15px;
}
.backsong p {
    font-style: italic;
    margin: 5px;
    color: #213658;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .backsong, .todo-wrapper {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
  }
}
