.page-header {
  text-align: center;
  padding: 30px 10px 10px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D7D7D7;
  opacity: 0.8;
}

.page-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #213658;
}

.page-header p {
  font-size: 16px;
  color: #555555;
}

body {
    background-color: #536F99;
    font-family: 'Poppins', Segoe UI, Tahoma, Verdana, sans-serif
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: auto;
  align-items: flex-start;
}

.todo-wrapper {
    flex: 3;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #E8D9C1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.todo-wrapper h2 {
    margin: 0;
}

.todo-wrapper .intro-text {
    font-size: medium;
    color: #282828;
}
.todo-wrapper .hint-text {
    font-style: italic;
    font-size: small;
    color: #213658;
    margin-top: 5px;
    margin-bottom: 10px;
}

.todo-wrapper .pretty-button {
    color: #282828;
    background-color: #ffffff;
}

.todo-wrapper.pretty-button:hover {
    opacity: 0,7 ;
    transform: scale(1.05);
    cursor: pointer;
}

.todo-wrapper ol {
  padding-left: 0;
  list-style-position: inside;
}

input, button {
    border-radius: 16px;
    border-width: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

select {
    border-radius: 16px;
    border-width: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6px 12px;
  border-bottom: 1px solid #213658;
  gap: 12px;
  transition: all 0.3s ease;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.task-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.task-info {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.category {
  font-size: 0.9rem;
  background-color: #C4A87B;
  border-radius: 4px;
  padding: 2px 6px;
}
.delete-btn {
  background: none;
  padding: 4px 6px;
  cursor: pointer;
}

.delete-btn i {
  color: #213658;
  font-size: 14px;
}

.delete-btn:hover i {
  transform: scale(1.2);
}

#control-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.backsong {
    flex:1;
    border-radius: 15px;
    margin-bottom: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #D2C0A3;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.backsong h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: larger;
}
.backsong audio {
    margin-bottom: 15px;
}
.backsong p {
    font-style: italic;
    margin: 5px;
    color: #46361D;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .backsong, .todo-wrapper {
    width: 100%;
  }
}
